---
/* src/pages/index.astro */
import Layout from '../layouts/Layout.astro';
import SlideAd from '../components/SlideAd.astro';
import Header from '../components/Header.astro';
import Ticker from '../components/Ticker.astro';
import Nav from '../components/Nav.astro';
import ChartArea from '../components/ChartArea.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MK Stock Lab - 실시간 투자·경제 뉴스">
    <SlideAd />
    <Header />
    <Ticker />
    <Nav />
    <div id="toast">힝 속았지?</div>
    <ChartArea />
    <Footer />
</Layout>

<script is:inline src="https://cdn.jsdelivr.net/gh/timdream/wordcloud2.js@gh-pages/src/wordcloud2.js"></script>