---
/* src/components/ChartArea.astro */
---
<main class="main-wrapper">
    <div class="search-area" id="search_wrapper" style="display: none;">
        <input type="text" id="stockInput" placeholder="종목명 또는 티커 입력">
        <button id="searchBtn">조회</button>
    </div>

    <div id="chart_container" class="content-display-area"></div>
</main>