---
/* src/components/Nav.astro */
---
<nav class="nav-menu-wrapper">
    <ul class="nav-menu">
        <li class="nav-item active" onclick="changeMenu(this, '차트')">차트</li>
        <li class="nav-item" onclick="changeMenu(this, '뉴스')">뉴스</li>
        <li class="nav-item" onclick="changeMenu(this, '이슈')">이슈</li>
        <li class="nav-item" onclick="changeMenu(this, '실시간검색어')">실시간검색어</li>
    </ul>
</nav>