---
/* src/components/Nav.astro */
---
<nav class="nav-menu-wrapper">
    <ul class="nav-menu">
        <li class="nav-item active" onclick="changeMenu(this, '차트')">차트</li>
        <li class="nav-item" onclick="changeMenu(this, '경제 뉴스')">경제 뉴스</li>
        <li class="nav-item" onclick="changeMenu(this, '크립토 뉴스')">크립토 뉴스</li>
        <li class="nav-item" onclick="changeMenu(this, '실시간검색어')">실시간</li>
    </ul>
</nav>