---
/* src/layouts/Layout.astro */
const { title } = Astro.props;
import '../styles/style.css';
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{title}</title>
    
    <link rel="icon" type="image/svg+xml" href="/logo.svg">
    
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon-192.png">
    <meta name="theme-color" content="#1A237E">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8654345483667820" crossorigin="anonymous"></script>
</head>
<body>
    <slot />
    <script src="../scripts/main.js"></script>
</body>
</html>